@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll::-webkit-scrollbar { background: transparent; /* make scrollbar transparent */ width: 0px; }

.typed-h {
  overflow: hidden;
  animation: typing 3.5s steps(40,end);
  animation-delay: 2s; /* Add this line */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 21px;
  scroll-behavior: smooth;
  color:#221E1F;
}

h1{
  font-weight: 400;
  font-size: 80px;
  line-height: 84px;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
}

/* For screens between 600px and 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  h1 {
    font-size: 60px;
    line-height: 64px;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1201px) {
  h1 {
    font-size: 80px;
    line-height: 84px;
  }
}


h2{
  font-weight: 300;
  font-size: 70px;
  line-height: 77px;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  h2 {
    font-size: 30px;
    line-height: 33px;
  }
}

/* For screens between 600px and 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  h2 {
    font-size: 50px;
    line-height: 55px;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1201px) {
  h2 {
    font-size: 70px;
    line-height: 77px;
  }
}





.DM_Roboto_H2{
font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0em;
text-align: center;

}

h3{
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  h3 {
    font-size: 25px;
    line-height: 28px;
  }
}

/* For screens between 600px and 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  h3 {
    font-size: 35px;
    line-height: 38px;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1201px) {
  h3 {
    font-size: 45px;
    line-height: 48px;
  }
}

h4{
  font-weight: 300;
  font-size: 30px;
  line-height: 33px;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  h4 {
    font-size: 15px;
    line-height: 16px;
  }
}

/* For screens between 600px and 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  h4 {
    font-size: 20px;
    line-height: 22px;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1201px) {
  h4 {
    font-size: 30px;
    line-height: 33px;
  }
}


.Text-16{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .Text-16 {
    font-size: 12px;
    line-height: 18px;
  }
}

.Roboto_Text-16{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .Roboto_Text-16 {
    font-size: 12px;
    line-height: 18px;
  }
}

.Text-18{
  font-family: 'Helvetica Neue';
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .Text-18 {
    font-size: 14px;
    line-height: 22px;
  }
}

.Roboto_Text-18{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .Roboto_Text-18 {
    font-size: 14px;
    line-height: 20px;
  }
}

input[type=checkbox] {
  border: 2px solid red;
  border-radius: 4px;
}

.inner-darker{
  box-shadow: inset 30px 30px 30px 30px rgba(0, 0, 0, 0.5);
}



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */


.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

@media (max-width: 1180px) {
  .dropdown .dropbtn {
    border-bottom: 1px solid white; /* Add a border bottom */
    color: white;
    background-color: yellow; /* Change the background color to yellow */
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    width: 100%; /* Make the button full width */
  }
}


/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: inherit;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.indicator {
  justify-self: end;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #FBBA0066;
  margin: 0 0 0 8px;
}

.indicator.active {
  background: #FBBA00;
}


@layer components {
  .animate-upward {
    animation: marquee 30s linear infinite;
  }
  .animate-downward{
    animation: reverse-marquee 30s linear infinite;
  }
  @keyframes marquee {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
  }

  @keyframes reverse-marquee {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }
}
