@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 21px;
  color: #221E1F;
}

.heading2{
  font-weight: 300;
  font-size: 70px;
  line-height: 77px;
}

.heading4{
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
}

.heading1{
  font-weight: 400;
  font-size: 80px;
  line-height: 84px;
}

input[type=checkbox] {
  border: 2px solid red;
  border-radius: 4px;
}